{% extends "ar/dashboard/base.html" %}
{% load static %}
<!------------------------------- title ---------------------------------------------------->

{% block title %}
<title>

         BFBOX - Bailiff Manager System

</title>
{% endblock %}
<!------------------------------- end title ------------------------------------------------>

{% block heading%}
<!--begin::Heading-->
    <h1 class="text-dark fw-bold my-1 fs-2">ادارة المستخدمين
    <small class="text-muted fs-6 fw-normal ms-1"></small>
    </h1>
    <!--end::Heading-->
{% endblock %}

{% block breadcrumb%}
    <!--begin::Breadcrumb-->
    <ul class="breadcrumb fw-semibold fs-base my-1">
        <li class="breadcrumb-item text-muted">
            <a href="../index.html" class="text-muted">الرئيسية</a>
        </li>
        <li class="breadcrumb-item text-muted">ادارة المستخدمين</li>


    </ul>
    <!--end::Breadcrumb-->
{% endblock %}

<!-------------------------------  user  management --------------------------------------------->

{% block content %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <div class="card card-bordered"  dir="rtl">
            <!--begin::Card header-->
            <div class="card-header ">
                 {% if users_list.count %}
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Client" />
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
                {% else %}
                 <!--no users message-->
                    <div class="d-flex align-items-center position-relative my-1">
                        لا يوجد مستخدمين مسجلين ، للبدء ، انقر فوق إضافة مستخدم
                    </div>
                    <!--end no clients message-->
                {% endif %}
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">

                       <button type="button" class="btn btn-light-primary" data-bs-toggle="modal" data-bs-target="#add_new_user">
                           <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                            <span class="svg-icon svg-icon-3">
                                <i class="bi bi-person-plus" style="font-size: 1.5rem;"></i>
                            </span>
                            <!--end::Svg Icon-->                إضافة مستخدم
                        </button>
                    </div>
                    <!--end::Toolbar-->

                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->

        <!-------------------------------  user  listing ---------------------------------------------->
            <div class="card-body">
                <!--client table-->
                <div class="table-responsive">
                     {% if users_list.count %}
                    <table class="table table-row-bordered gy-7 gs-7">
                    <!--begin::Table head-->
                    <thead>
                        <!--begin::Table row-->
                        <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">

                            <th class="min-w-200px">اسم المستخدم</th>
                            <th class="min-w-125px">البريد الإلكتروني</th>
                            <th class="min-w-125px">المنصب</th>

                            <th class="min-w-125px"> تاريخ الإنشاء</th>
                            <th class="min-w-125px">آخر تسجيل دخول</th>

                            <th class="min-w-50px">الإجراءات </th>
                            <th class="text-end min-w-50px"></th>

                        </tr>
                        <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->

                    <!--begin::Table body-->
                    <tbody class="fw-semibold text-gray-600">
                    {% for user in users_list %}
                        <tr>
                            <!--end::Checkbox-->
                            <!--user first name=-->
                             <td>{{user.first_name}}  {{user.last_name}}</td>
                            <!--Client Email=-->
                             <td>{{user.email}}</td>
                            <!--Client Address -->

                                <td>{{usertype.is_employee}}</td>


                            <td>{{user.date_joined}}</td>

                            <td>{{user.last_login}}</td>


                            <!--Client Town -->

                            <!--end::Date=-->

                            <!--view client action-->
                            <td class="text-end">
                                <a href="" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="view client">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </td>
                            <!--end view client action-->

                            <!--edit client action-->
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover"  data-bs-placement="top" data-bs-content="edit client" >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <!--end edit client action-->

                            <!--delete client action-->
                            <td class="text-end">
                                <a href="{% url 'manage-user' 'delete_user' 'user.first_name' %}" class="btn btn-sm btn-light btn-active-light-primary" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="delete client">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <!--end delete client action-->
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!--end::Table body-->
                     </table>
                    {% endif %}
                </div>
                <!--end::Table-->
            </div>
        <!-------------------------------  end user  listing ------------------------------------------->


             <!--principle card footer-->
            <div class="card-footer">
            </div>
                <!--end principle card footer-->
        </div>


        <!-------------------------------  user  adding ------------------------------------------------>

          <!--add new client modal-->
        <div class="modal fade" id="add_new_user" tabindex="-1" aria-hidden="true" dir="rtl">
            <div class="modal-dialog modal-dialog-centered mw-1000px">
                <div class="modal-content shadow-none">
                    <div class="modal-header">
                        <h5 class="modal-title">إضافة مستخدم جديد</h5>
                        <!--close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <span class="menu-icon me-0" ><i class="bi bi-x-lg"></i></span>
                        </div>
                        <!--end clos-->
                    </div>

                    <!--begin::Authentication - Multi-steps-->
                    <div class="d-flex flex-column flex-lg-row flex-column-fluid stepper stepper-pills stepper-column d-flex flex-column flex-lg-row" id="kt_stepper_example_vertical" dir="rtl">

                          <!--begin::Aside-->

                              <!--begin::Wrapper-->
                                  <!--begin::Header-->
                                  <div class="d-flex flex-row-fluid flex-column align-items-center align-items-lg-start p-15 p-lg-20">

                                      <!--begin::Nav-->
                                      <div class="stepper-nav">
                                            <!--begin::Step 1-->
                                            <div class="stepper-item me-5 current" data-kt-stepper-element="nav">
                                                <!--begin::Wrapper-->
                                                <div class="stepper-wrapper">
                                                    <!--begin::Icon-->
                                                    <div class="stepper-icon rounded-3">
                                                        <i class="stepper-check fas fa-check"></i>
                                                        <span class="stepper-number">1</span>
                                                    </div>
                                                    <!--end::Icon-->

                                                    <!--begin::Label-->
                                                    <div class="stepper-label">
                                                        <h3 class="stepper-title fs-2">
                                                            نوع الحساب
                                                        </h3>

                                                        <div class="stepper-desc fw-normal">
                                                           حدد نوع حسابك
                                                        </div>
                                                    </div>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Wrapper-->

                                                <!--begin::Line-->
                                                <div class="stepper-line h-40px"></div>
                                                <!--end::Line-->
                                            </div>
                                            <!--end::Step 1-->

                                            <!--begin::Step 2-->
                                            <div class="stepper-item me-5" data-kt-stepper-element="nav">
                                                <!--begin::Wrapper-->
                                                <div class="stepper-wrapper">
                                                    <!--begin::Icon-->
                                                    <div class="stepper-icon rounded-3">
                                                        <i class="stepper-check fas fa-check"></i>
                                                        <span class="stepper-number">2</span>
                                                    </div>
                                                    <!--begin::Icon-->

                                                    <!--begin::Label-->
                                                    <div class="stepper-label">
                                                        <h3 class="stepper-title fs-2">
                                                            إعدادت الحساب
                                                        </h3>

                                                        <div class="stepper-desc fw-normal">
                                                            قم بإعداد إعدادات حسابك
                                                        </div>
                                                    </div>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Wrapper-->

                                                <!--begin::Line-->
                                                <div class="stepper-line h-40px"></div>
                                                <!--end::Line-->
                                            </div>
                                            <!--end::Step 2-->

                                            <!--begin::Step 3-->
                                            <div class="stepper-item mark-completed me-5" data-kt-stepper-element="nav">
                                                <!--begin::Wrapper-->
                                                <div class="stepper-wrapper">
                                                    <!--begin::Icon-->
                                                    <div class="stepper-icon  rounded-3">
                                                        <i class="stepper-check fas fa-check"></i>
                                                        <span class="stepper-number">3</span>
                                                    </div>
                                                    <!--begin::Icon-->
                                                    <!--begin::Label-->
                                                    <div class="stepper-label">
                                                        <h3 class="stepper-title fs-2">
                                                            مكتمل
                                                        </h3>

                                                        <div class="stepper-desc fw-normal">
                                                            تم إنشاء حسابك
                                                        </div>
                                                    </div>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Wrapper-->
                                            </div>
                                            <!--end::Step 3-->
                                      </div>
                                        <!--end::Nav-->
                                  </div>

                                  <!--end::Header-->
                                  <!--begin::Illustration-->
                                  <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-250px" style="background-image: url(../../assets/media/illustrations/sigma-1/16.png)"></div>
                                  <!--end::Illustration-->
                              <!--end::Wrapper-->

                          <!--begin::Aside-->
                          <!--begin::Body-->
                          <div class="d-flex flex-column flex-lg-row-fluid py-10">
                              <!--begin::Content-->
                              <div class="d-flex flex-center flex-column flex-column-fluid">
                                  <!--begin::Wrapper-->
                                  <div class="card w-lg-600px p-10 p-lg-15 mx-auto">
                                      <!--begin::Form-->
                                        <form  action="{% url 'manage-user' 'add_user' '#' %}" class="form w-lg-500px mx-auto" novalidate="novalidate" method="post">
                                            {% csrf_token %}
                                            <!--begin::Group-->
                                            <div class="mb-5">
                                                <!--begin::Step 1-->
                                                <div class="flex-column current" data-kt-stepper-element="content">

                                                    <!--begin::Heading-->

                                                    <!--end::Heading-->
                                                    <!--begin::Input group-->
                                                        <div class="mb-0 fv-row">
                                                            <!--begin::Label-->
                                                            <label class="d-flex align-items-center form-label mb-5">حدد نوع الحساب
                                                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Monthly billing will be based on your account plan"></i></label>
                                                            <!--end::Label-->
                                                        </div>
                                                        <!--end::Input group-->
                                                    <!--begin::Radio group-->
                                                        <div data-kt-buttons="true">
                                                            <!--begin::Radio button-->
                                                            <label class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex flex-stack text-start p-6 mb-5 active">
                                                                <!--end::Description-->
                                                                <div class="d-flex align-items-center me-2">
                                                                    <!--begin::Radio-->
                                                                    <div class="form-check form-check-custom form-check-solid form-check-primary me-6">
                                                                        <input class="form-check-input" type="radio" name="user-type" checked="checked" value="Bailiff"/>
                                                                    </div>
                                                                    <!--end::Radio-->

                                                                    <!--begin::Info-->
                                                                    <div class="flex-grow-1">
                                                                        <h2 class="d-flex align-items-center fs-3 fw-bold flex-wrap">
                                                                            المحضر القضائي

                                                                        </h2>
                                                                        <div class="fw-semibold opacity-50">
                                                                            حساب المسؤول

                                                                        </div>
                                                                    </div>
                                                                    <!--end::Info-->
                                                                </div>
                                                                <!--end::Description-->


                                                            </label>
                                                            <!--end::Radio button-->

                                                            <!--begin::Radio button-->
                                                            <label class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex flex-stack text-start p-6">
                                                                <!--end::Description-->
                                                                <div class="d-flex align-items-center me-2">
                                                                    <!--begin::Radio-->
                                                                    <div class="form-check form-check-custom form-check-solid form-check-primary me-6">
                                                                        <input class="form-check-input" type="radio" name="user-type" value="Employee"/>
                                                                    </div>
                                                                    <!--end::Radio-->

                                                                    <!--begin::Info-->
                                                                    <div class="flex-grow-1">
                                                                        <h2 class="d-flex align-items-center fs-3 fw-bold flex-wrap">
                                                                            الموظف
                                                                        </h2>
                                                                        <div class="fw-semibold opacity-50">
                                                                              حساب المستخدم
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Info-->
                                                                </div>
                                                                <!--end::Description-->

                                                            </label>
                                                            <!--end::Radio button-->
                                                        </div>
                                                        <!--end::Radio group-->
                                                </div>
                                                <!--begin::Step 1-->

                                                <!--begin::Step 2-->
                                                <div class="flex-column" data-kt-stepper-element="content">
                                                    <div class="pb-10 pb-lg-15">
                                                        <!--begin::Title-->
                                                        <h2 class="fw-bold text-dark">معلومات الحساب</h2>
                                                        <!--end::Title-->
                                                        <!--begin::Notice-->
                                                        <div class="text-muted fw-semibold fs-6">مطلوب لإدخال جميع المعلومات
                                                        </div>
                                                        <!--end::Notice-->
                                                    </div>

                                                    <!--begin::Input group-->
                                                    <div class="row fv-row mb-7">
                                                        <!--begin::Col-->
                                                        <div class="col-xl-6">
                                                            <label class="form-label fw-bold text-dark fs-6">الاسم </label>
                                                            <input class="form-control form-control-lg form-control-solid" type="text" placeholder="" name="first-name" autocomplete="off" />
                                                        </div>
                                                        <!--end::Col-->
                                                        <!--begin::Col-->
                                                        <div class="col-xl-6">
                                                            <label class="form-label fw-bold text-dark fs-6">اللقب</label>
                                                            <input class="form-control form-control-lg form-control-solid" type="text" placeholder="" name="last-name" autocomplete="off" />
                                                        </div>
                                                        <!--end::Col-->
                                                    </div>
                                                    <!--end::Input group-->
                                                    <!--begin::Input group-->
                                                    <div class="fv-row mb-7">
                                                        <label class="form-label fw-bold text-dark fs-6">البريد الإلكتروني</label>
                                                        <input class="form-control form-control-lg form-control-solid" type="email" placeholder="" name="email" autocomplete="off" />
                                                    </div>
                                                    <!--end::Input group-->
                                                    <!--begin::Input group-->
                                                    <div class="mb-10 fv-row" data-kt-password-meter="true">
                                                        <!--begin::Wrapper-->
                                                        <div class="mb-1">
                                                            <!--begin::Label-->
                                                            <label class="form-label fw-bold text-dark fs-6">كلمة السر</label>
                                                            <!--end::Label-->
                                                            <!--begin::Input wrapper-->
                                                            <div class="position-relative mb-3">
                                                                <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="password" autocomplete="off" />
                                                                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                                                    <i class="bi bi-eye-slash fs-2"></i>
                                                                    <i class="bi bi-eye fs-2 d-none"></i>
                                                                </span>
                                                            </div>
                                                            <!--end::Input wrapper-->
                                                            <!--begin::Meter-->
                                                            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                                                            </div>
                                                            <!--end::Meter-->
                                                        </div>
                                                        <!--end::Wrapper-->
                                                        <!--begin::Hint-->
                                                        <div class="text-muted">استخدم 8 أحرف أو أكثر مع مزيج من الأحرف والأرقام والرموز.</div>
                                                        <!--end::Hint-->
                                                    </div>
                                                    <!--end::Input group=-->
                                                    <!--begin::Input group-->
                                                    <div class="fv-row mb-5">
                                                        <label class="form-label fw-bold text-dark fs-6">أكيد كلمة السر</label>
                                                        <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="confirm-password" autocomplete="off" />
                                                    </div>
                                                    <!--end::Input group-->
                                                </div>
                                                <!--end::Step 2-->

                                                <!--begin::Step 3-->
                                                <div class="flex-column" data-kt-stepper-element="content">
                                                   <div class="w-100">
                                                       <div class="pb-8 pb-lg-10">
                                                            <!--begin::Title-->
                                                            <h2 class="fw-bold text-dark">انتهيت!</h2>
                                                            <!--end::Title-->
                                                            <!--begin::Notice-->
                                                            <div class="text-muted fw-semibold fs-6">انقر فوق إرسال لإنشاء حسابك.</div>
                                                            <!--end::Notice-->
                                                        </div>
                                                   </div>
                                                </div>
                                                <!--end::Step 3-->

                                            </div>
                                            <!--end::Group-->

                                            <!--begin::Actions-->
                                            <div class="d-flex flex-stack">
                                                <!--begin::Wrapper-->
                                                <div class="me-2">
                                                    <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">
                                                       رجوع
                                                    </button>
                                                </div>
                                                <!--end::Wrapper-->

                                                <!--begin::Wrapper-->
                                                <div>
                                                    <button type="sumbit"  class="btn btn-primary" data-kt-stepper-action="submit">
                                                        <span class="indicator-label">
                                                           إرسال
                                                        </span>
                                                        <span class="indicator-progress">
                                                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                        </span>
                                                    </button>

                                                    <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                                                       واصل
                                                    </button>
                                                </div>
                                                <!--end::Wrapper-->
                                            </div>
                                            <!--end::Actions-->
                                        </form>

                                      <!--end::Form-->
                                  </div>
                                  <!--end::Wrapper-->
                              </div>
                              <!--end::Content-->

                          </div>
                          <!--end::Body-->
                      </div>
                    <!--end::Authentication - Multi-steps-->


                </div>
            </div>
        </div>
        <!--end add new client modal-->
        <!-------------------------------  end client  adding --------------------------------------------->

        <!-------------------------------  client  updating ----------------------------------------------->


        <!------------------------------- end client  updating -------------------------------------------->




    </div>
    <!--end::Container-->
</div>
<!--end::Content-->
{% endblock %}

<!------------------------------- end  client management --------------------------------------------->
